<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
 
    <system.web>
        <siteMap defaultProvider="MvcSiteMap">
            <providers>
                <clear/>
                <!--<add name="MvcSiteMap" type="MvcLibrary.SiteMaps.RoutingSiteMapProvider, MvcLibrary" siteMapFile="~/App_Data/Web.Sitemap" securityTrimmingEnabled="true"/>-->
                <add name="MvcSiteMap" type="MvcSiteMapProvider.DefaultSiteMapProvider, MvcSiteMapProvider" siteMapFile="~/App_Data/MvcWeb.sitemap" securityTrimmingEnabled="true"/>
            </providers>   
        </siteMap> 

        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>

        <httpRuntime requestValidationMode="2.0"/>
 
        <pages>
            <namespaces> 
                <add namespace="System.Web.Mvc" /> 
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="MvcLibrary.SiteMaps"/> 
                <add namespace="MvcLibrary.Utils"/>
                <add namespace="MvcLibrary.Utils.Collections"/>
                <add namespace="MvcLibrary.Controls"/>
                <add namespace="T3ME.Business.Utils"/>
                <add namespace="T3ME.Business.ViewModels"/>
            </namespaces>
        </pages>

        <httpModules>
            <add name="NHibernateSessionRequest" type="MvcLibrary.NHibernate.SessionManagement.SessionPerRequestModule, MvcLibrary"/>
            <add name="PageTimerModule" type="MvcLibrary.Utils.Monitoring.PageTimerModule, MvcLibrary" />
        </httpModules>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules runAllManagedModulesForAllRequests="true">
            <add name="NHibernateSessionRequest" type="MvcLibrary.NHibernate.SessionManagement.SessionPerRequestModule, MvcLibrary"/>
            <add name="PageTimerModule" type="MvcLibrary.Utils.Monitoring.PageTimerModule, MvcLibrary" />
        </modules>
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>